1) Importe o arquivo alunos.csv e armazene seu conteúdo em um DataFrame Pandas.

In [4]:
import pandas as pd

local = pd.read_csv ('./aluguel.csv', sep=';')
local

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

2) Visualize as primeiras 7 linhas do DataFrame e as 5 últimas.

In [10]:
local.head(7)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

In [11]:
local.tail()

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

3) Confira a quantidade de linhas e colunas desse DataFrame.

In [13]:
local.shape

(32960, 1)

4) Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna.

In [15]:
local.columns

Index(['Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU'], dtype='object')

In [18]:
local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 1 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU  32960 non-null  object
dtypes: object(1)
memory usage: 257.6+ KB

Extra: Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc). Dica: pesquise pelo método describe.