# Conhecendo a base de dados

## Importando os dados

In [1]:
import pandas as pd

In [3]:
local = './dados/aluguel.csv'
pd.read_csv(local, sep=';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [4]:
pd.read_csv(local,sep=';')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [5]:
dados = pd.read_csv(local, sep=';')#sep = separador sendo ; ou ,
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [6]:
dados.head()#5 primeiras

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [7]:
dados.tail()#5 ultimas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [8]:
type(dados)

pandas.core.frame.DataFrame

## Características gerais da base de dados

In [9]:
dados.shape

(32960, 9)

In [10]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [12]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [13]:
dados[['Quartos','Valor']]

       Quartos   Valor
0            1  1700.0
1            2  7000.0
2            0  5200.0
3            1   800.0
4            1   800.0
...        ...     ...
32955        0   800.0
32956        3  1800.0
32957        2  1400.0
32958        2  3000.0
32959        0  6500.0

[32960 rows x 2 columns]

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

In [14]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [15]:
dados['Valor'].mean()

12952.659715265761

In [16]:
dados.groupby('Tipo').mean(numeric_only=True)

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Tipo,,,,,,,
Apartamento,2.481569,1.232388,0.875998,119.790498,4744.614648,1722.653697,686.170413
Box/Garagem,0.060976,1.304878,0.000000,17.524390,1899.756098,305.450000,125.846154
Casa,3.133402,1.795243,1.258532,250.578077,6793.454922,931.280952,1582.506394
Casa Comercial,1.562264,2.203774,0.260377,372.241509,14478.264151,1935.709677,1707.386740
Casa de Condomínio,4.007028,3.101406,2.864458,456.161647,11952.061245,1342.025527,3252.517730
Casa de Vila,1.927711,0.389558,0.228916,78.469880,1574.369478,138.768421,183.878788
Chácara,3.000000,0.000000,0.000000,0.000000,4900.000000,NaN,NaN
Conjunto Comercial/Sala,0.040939,2.516801,0.010858,214.472487,14715.045521,4512.218100,1399.596571
Flat,1.415966,0.962185,0.754202,65.483193,4546.189076,2027.720554,493.166667
Galpão/Depósito/Armazém,0.043339,5.587480,0.000000,2514.810594,53407.062600,10560.308824,5050.465241
Hotel,25.500000,2.500000,12.000000,885.500000,25000.000000,NaN,6202.000000
Indústria,0.000000,0.000000,0.000000,22.000000,120000.000000,NaN,NaN
Loft,1.117647,0.666667,0.372549,58.372549,2557.882353,869.239130,238.243243
Loja Shopping/ Ct Comercial,0.044534,6.874494,0.008097,88.109312,8126.178862,1790.109005,1052.415459
Loja/Salão,0.010519,1.217391,0.043478,228.852034,13769.646770,2605.601954,2670.331409
Loteamento/Condomínio,0.000000,0.000000,0.000000,2069.000000,22000.000000,NaN,4885.000000
Pousada/Chalé,23.000000,0.000000,23.000000,862.000000,1480.000000,295.000000,NaN
Prédio Inteiro,0.335548,11.199336,0.019934,1773.837209,498637.239203,55066.750000,165480.022472
Quitinete,0.834928,0.017943,0.037081,28.954545,1246.840909,427.341969,75.790741
Studio,0.500000,0.250000,0.000000,103.250000,2400.000000,549.000000,151.250000
Sítio,5.100000,1.000000,3.800000,15217.000000,12499.000000,NaN,5848.800000
Terreno Padrão,0.042857,0.057143,0.000000,5044.814286,32567.714286,1.000000,5138.170732

In [17]:
dados.groupby('Tipo')['Valor'].mean()

Tipo
Apartamento                      4744.614648
Box/Garagem                      1899.756098
Casa                             6793.454922
Casa Comercial                  14478.264151
Casa de Condomínio              11952.061245
Casa de Vila                     1574.369478
Chácara                          4900.000000
Conjunto Comercial/Sala         14715.045521
Flat                             4546.189076
Galpão/Depósito/Armazém         53407.062600
Hotel                           25000.000000
Indústria                      120000.000000
Loft                             2557.882353
Loja Shopping/ Ct Comercial      8126.178862
Loja/Salão                      13769.646770
Loteamento/Condomínio           22000.000000
Pousada/Chalé                    1480.000000
Prédio Inteiro                 498637.239203
Quitinete                        1246.840909
Studio                           2400.000000
Sítio                           12499.000000
Terreno Padrão                  32567.714286
Name: Valor, dtype: float64

In [18]:
dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

                                     Valor
Tipo
Quitinete                      1246.840909
Pousada/Chalé                  1480.000000
Casa de Vila                   1574.369478
Box/Garagem                    1899.756098
Studio                         2400.000000
Loft                           2557.882353
Flat                           4546.189076
Apartamento                    4744.614648
Chácara                        4900.000000
Casa                           6793.454922
Loja Shopping/ Ct Comercial    8126.178862
Casa de Condomínio            11952.061245
Sítio                         12499.000000
Loja/Salão                    13769.646770
Casa Comercial                14478.264151
Conjunto Comercial/Sala       14715.045521
Loteamento/Condomínio         22000.000000
Hotel                         25000.000000
Terreno Padrão                32567.714286
Galpão/Depósito/Armazém       53407.062600
Indústria                    120000.000000
Prédio Inteiro               498637.239203

In [19]:
df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

df_preco_tipo.plot(kind='barh',figsize=(14,10), color='purple')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

## Removendo os imóveis comerciais

In [ ]:
dados.Tipo.unique()

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 
                      'Prédio Inteiro', 'Loja/Salão', 
                      'Galpão/Depósito/Armazém', 
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

In [ ]:
dados.query('@imoveis_comerciais in Tipo') #chama apenas o conjunto de dados que foi selecionado acima

In [ ]:
dados.query('@imoveis_comerciais not in Tipo')

In [ ]:
df = dados.query('@imoveis_comerciais not in Tipo') 
df.head()

In [ ]:
df.Tipo.unique()

In [ ]:
df_preco_tipo = df.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

df_preco_tipo.plot(kind='barh',figsize=(14,10), color='purple')

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

In [ ]:
df.Tipo.unique()

In [ ]:
df.Tipo.value_counts(normalize=True)#Formato de %%

In [ ]:
df.Tipo.value_counts(normalize=True).to_frame().sort_values('proportion')

In [ ]:
df_percentual_tipo = df.Tipo.value_counts(normalize=True).to_frame().sort_values('proportion')

df_percentual_tipo.plot(kind='bar', figsize=(14,10), color='green', xlabel='Tipos', ylabel='Percentual')

### **Selecionando apenas os imóveis do tipo apartamento**

In [ ]:
df.query('Tipo == "Apartamento"')

In [ ]:
df = df.query('Tipo == "Apartamento"')
df.head()

# Tratando e filtrando os dados

## Lidando com dados nulos

In [ ]:
df.isnull()# busca dados nulos

In [ ]:
df.isnull().sum()#valores nulos por colunas

In [ ]:
df.fillna(0)# substitui os valores nulos por 0 ou outro tipo valor

In [ ]:
df = df.fillna(0)

In [ ]:
df

In [ ]:
df.isnull().sum()

## Removendo registros

In [ ]:
df.query('Valor == 0 | Condominio == 0')#seleciona valor ou condomio que sejas igual a 0

In [ ]:
df.query('Valor == 0 | Condominio == 0').index#Todos os indicies

In [ ]:
registros_a_removerdor = df.query('Valor == 0 | Condominio == 0').index.duplicated()

In [ ]:
df.drop(registros_a_removerdor, axis=0, inplace=True) # axis 0 para linhas 1 para colunas

In [ ]:
df.query('Valor == 0 | Condominio == 0')

In [ ]:
df.head()

In [ ]:
df.Tipo.unique()

In [ ]:
df.drop('Tipo', axis=1, inplace=True)

In [ ]:
df.head()

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

In [ ]:
df['Quartos'] == 1

In [ ]:
selecao1 = df['Quartos'] == 1
df[selecao1]

In [ ]:
selecao2 = df['Valor'] < 1200
df[selecao2]

In [ ]:
selecao_final = (selecao1) & (selecao2)
df[selecao_final]

In [ ]:
df_1 = df[selecao_final]

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

In [ ]:
selecao = (df['Quartos'] >=2) & (df['Valor'] < 3000) & (df['Area'] > 70)
df[selecao]

In [ ]:
df_2 = df[selecao]

## Salvando os dados

In [ ]:
df.to_csv('dados_apartamentos.csv')

In [ ]:
pd.read_csv('dados_apartamentos.csv')

In [ ]:
df.to_csv('dados_apartamentos.csv', index=False)

In [ ]:
pd.read_csv('dados_apartamentos.csv')

In [ ]:
df.to_csv('./dados/dados_apartamentos.csv', index=False, sep=';')

In [ ]:
pd.read_csv('dados_apartamentos.csv', sep=';')

In [ ]:
df_1.to_csv('./dados/df-1.csv', sep=';', index=False)

In [ ]:
df_2.to_csv('./dados/df-2.csv', sep=';', index=False)

# Manipulando os dados

## Criando colunas numéricas

In [ ]:
url = './dados/aluguel.csv'
dados = pd.read_csv(url, sep=';', encoding='utf8')
dados.head()

In [ ]:
dados['Valor_por_mes'] = dados['Valor'] + dados['Condominio'] #Criando colunas numericas
dados.head()

In [ ]:
dados['Valor_por_ano'] = dados['Valor_por_mes'] * 12 + dados['IPTU']
dados.head()

## Criando colunas categóricas

In [ ]:
dados['Descricao'] = dados['Tipo'] +' em ' + dados['Bairro'] 
dados.head()

In [22]:
dados['Descricao'] = dados['Tipo'] + ' em ' + dados['Bairro'] + ' com ' + \
                                        dados['Quartos'].astype(str) + ' quarto(s) ' + \
                                        ' e ' + dados['Vagas'].astype(str) + ' vaga(s) de garagem.'
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Possui_suite,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Não,Quitinete em Copacabana com 1 quarto(s) e 0 v...
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Sim,Casa em Jardim Botânico com 2 quarto(s) e 0 v...
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Não,Conjunto Comercial/Sala em Barra da Tijuca com...
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Não,Apartamento em Centro com 1 quarto(s) e 0 vag...
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Não,Apartamento em Higienópolis com 1 quarto(s) e...
...,...,...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,Não,Quitinete em Centro com 0 quarto(s) e 0 vaga(...
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,Sim,Apartamento em Jacarepaguá com 3 quarto(s) e ...
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,Não,Apartamento em São Francisco Xavier com 2 quar...
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN,Não,Apartamento em Leblon com 2 quarto(s) e 0 vag...
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,Não,Conjunto Comercial/Sala em Centro com 0 quarto...

In [20]:
dados['Possui_suite'] = dados['Suites'].apply(lambda x: "Sim" if x> 0 else "Não")
dados.head() # x equivale a cada uma das linhas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Possui_suite
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Não
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Sim
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Não
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Não
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Não

In [23]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Possui_suite,Descricao
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,Não,Quitinete em Copacabana com 1 quarto(s) e 0 v...
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,Sim,Casa em Jardim Botânico com 2 quarto(s) e 0 v...
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,Não,Conjunto Comercial/Sala em Barra da Tijuca com...
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,Não,Apartamento em Centro com 1 quarto(s) e 0 vag...
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,Não,Apartamento em Higienópolis com 1 quarto(s) e...
...,...,...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,Não,Quitinete em Centro com 0 quarto(s) e 0 vaga(...
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,Sim,Apartamento em Jacarepaguá com 3 quarto(s) e ...
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,Não,Apartamento em São Francisco Xavier com 2 quar...
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN,Não,Apartamento em Leblon com 2 quarto(s) e 0 vag...
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0,Não,Conjunto Comercial/Sala em Centro com 0 quarto...